header {
  background-color: lightpink;
  display: flex;
  justify-content: space-between;
  height: 70px;
}

.head {
  color: black;
  font-size: 35px;
  margin: 15px;
}

.head::first-letter {
  color: rgb(217, 25, 57);
}

.nav {
  display: flex;
  margin: 25px;
}

.nav .menu {
  margin-right: 55px;
  font-size: 20px;
  height: 30px;
  width: 100px;
}

.nav .menu:hover {
  background-color: white;
}

.nav .menu a {
  color: black;
  text-decoration: none;
}

.tab {
  display: flex;
  margin-left: 600px;
  width: 200px;
  flex-wrap: wrap;
}

.tab div {
  background-color: rgb(239, 121, 141);
  height: 35px;
  width: 60px;
  justify-content: space-between;
  margin-right: 5px;
  border-radius: 3px;
  text-align: center;
  align-content: center;
  cursor: pointer;
}

.tab div:hover {
  background-color: white;
  color: rgb(239, 121, 141);
  border: 2px solid rgb(239, 121, 141);
}

.tab .active {
  background-color: white;
  color: rgb(239, 121, 141);
  border: 2px solid rgb(239, 121, 141);
}

.tab #result {
  height: 40px;
  width: 187px;
  border: 2px solid rgb(239, 121, 141);
  margin-top: 10px;
  border-radius: 3px;
  align-content: center;
  text-align: center;
}
